* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}
body {
  padding: 100px;
  background-color: rgb(175, 113, 21);
}

.or {
  text-align: center;
  display: flex;
  align-items: center;
}
.or .text {
  padding: 0 20px;
  color: rgb(0, 0,0,.5);

}

.or .border{
  height: 1px;
  flex: 1;
  background: rgb(0, 0,0,.1);
}