* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}
body {
  padding: 100px;
}

/*font size artınca şekil bozulur ve top özelliği işlevini yitirir*/
.or {
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
}
.or span {
  /*bu transform ilemlerinde display, translateY(50%): yukarıdan tam oratlar*/
  display: inline-block;
 transform:translateY(50%);
  background-color: #fff;
  padding: 0 15px;
  color: #999;
}
